<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>df1-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,569},{254,219}}</string>
                <key>offset</key>
                <string>{55,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,15},{254,219}}</string>
                <key>sourceSize</key>
                <string>{364,251}</string>
            </dict>
            <key>df1-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,569},{254,219}}</string>
                <key>offset</key>
                <string>{55,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,15},{254,219}}</string>
                <key>sourceSize</key>
                <string>{364,251}</string>
            </dict>
            <key>df1-2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{264,221}}</string>
                <key>offset</key>
                <string>{50,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,13},{264,221}}</string>
                <key>sourceSize</key>
                <string>{364,251}</string>
            </dict>
            <key>df1-2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,344},{266,223}}</string>
                <key>offset</key>
                <string>{49,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,11},{266,223}}</string>
                <key>sourceSize</key>
                <string>{364,251}</string>
            </dict>
            <key>df1-2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,429},{260,235}}</string>
                <key>offset</key>
                <string>{52,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,0},{260,235}}</string>
                <key>sourceSize</key>
                <string>{364,251}</string>
            </dict>
            <key>df1-2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{322,227}}</string>
                <key>offset</key>
                <string>{21,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,7},{322,227}}</string>
                <key>sourceSize</key>
                <string>{364,251}</string>
            </dict>
            <key>df1-3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,569},{254,219}}</string>
                <key>offset</key>
                <string>{55,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,15},{254,219}}</string>
                <key>sourceSize</key>
                <string>{364,251}</string>
            </dict>
            <key>df1-3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{302,187}}</string>
                <key>offset</key>
                <string>{31,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,47},{302,187}}</string>
                <key>sourceSize</key>
                <string>{364,251}</string>
            </dict>
            <key>df1-3-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{334,199}}</string>
                <key>offset</key>
                <string>{15,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,52},{334,199}}</string>
                <key>sourceSize</key>
                <string>{364,251}</string>
            </dict>
            <key>df1-3-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{364,199}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,51},{364,199}}</string>
                <key>sourceSize</key>
                <string>{364,251}</string>
            </dict>
            <key>df1-4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{246,217}}</string>
                <key>offset</key>
                <string>{59,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,17},{246,217}}</string>
                <key>sourceSize</key>
                <string>{364,251}</string>
            </dict>
            <key>df1-4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,790},{248,215}}</string>
                <key>offset</key>
                <string>{58,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,19},{248,215}}</string>
                <key>sourceSize</key>
                <string>{364,251}</string>
            </dict>
            <key>enemy1-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,1513},{134,137}}</string>
                <key>offset</key>
                <string>{48,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,0},{134,137}}</string>
                <key>sourceSize</key>
                <string>{308,143}</string>
            </dict>
            <key>enemy1-1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1798},{134,133}}</string>
                <key>offset</key>
                <string>{48,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,1},{134,133}}</string>
                <key>sourceSize</key>
                <string>{308,143}</string>
            </dict>
            <key>enemy1-1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1726},{134,135}}</string>
                <key>offset</key>
                <string>{48,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,0},{134,135}}</string>
                <key>sourceSize</key>
                <string>{308,143}</string>
            </dict>
            <key>enemy1-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,1485},{144,137}}</string>
                <key>offset</key>
                <string>{61,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,0},{144,137}}</string>
                <key>sourceSize</key>
                <string>{308,143}</string>
            </dict>
            <key>enemy1-2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,1238},{164,137}}</string>
                <key>offset</key>
                <string>{72,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,1},{164,137}}</string>
                <key>sourceSize</key>
                <string>{308,143}</string>
            </dict>
            <key>enemy1-2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1035},{172,139}}</string>
                <key>offset</key>
                <string>{29,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,0},{172,139}}</string>
                <key>sourceSize</key>
                <string>{308,143}</string>
            </dict>
            <key>enemy1-3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,666},{254,143}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{254,143}}</string>
                <key>sourceSize</key>
                <string>{308,143}</string>
            </dict>
            <key>enemy1-3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,203},{282,139}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{282,139}}</string>
                <key>sourceSize</key>
                <string>{308,143}</string>
            </dict>
            <key>enemy1-3-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,344},{262,83}}</string>
                <key>offset</key>
                <string>{-23,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{262,83}}</string>
                <key>sourceSize</key>
                <string>{308,143}</string>
            </dict>
            <key>enemy1-4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1405},{134,137}}</string>
                <key>offset</key>
                <string>{46,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,0},{134,137}}</string>
                <key>sourceSize</key>
                <string>{308,143}</string>
            </dict>
            <key>enemy1-4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1624},{132,137}}</string>
                <key>offset</key>
                <string>{48,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,0},{132,137}}</string>
                <key>sourceSize</key>
                <string>{308,143}</string>
            </dict>
            <key>enemy2-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1377},{134,145}}</string>
                <key>offset</key>
                <string>{48,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,0},{134,145}}</string>
                <key>sourceSize</key>
                <string>{308,153}</string>
            </dict>
            <key>enemy2-1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1662},{134,143}}</string>
                <key>offset</key>
                <string>{48,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{308,153}</string>
            </dict>
            <key>enemy2-1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1590},{134,143}}</string>
                <key>offset</key>
                <string>{48,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{308,153}</string>
            </dict>
            <key>enemy2-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,1259},{144,145}}</string>
                <key>offset</key>
                <string>{61,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,0},{144,145}}</string>
                <key>sourceSize</key>
                <string>{308,153}</string>
            </dict>
            <key>enemy2-2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1373},{164,147}}</string>
                <key>offset</key>
                <string>{72,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,0},{164,147}}</string>
                <key>sourceSize</key>
                <string>{308,153}</string>
            </dict>
            <key>enemy2-2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,886},{172,147}}</string>
                <key>offset</key>
                <string>{29,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,0},{172,147}}</string>
                <key>sourceSize</key>
                <string>{308,153}</string>
            </dict>
            <key>enemy2-3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,655},{254,151}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{254,151}}</string>
                <key>sourceSize</key>
                <string>{308,153}</string>
            </dict>
            <key>enemy2-3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,191},{282,151}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{282,151}}</string>
                <key>sourceSize</key>
                <string>{308,153}</string>
            </dict>
            <key>enemy2-3-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,203},{262,85}}</string>
                <key>offset</key>
                <string>{-23,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,68},{262,85}}</string>
                <key>sourceSize</key>
                <string>{308,153}</string>
            </dict>
            <key>enemy2-4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1397},{134,145}}</string>
                <key>offset</key>
                <string>{47,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,0},{134,145}}</string>
                <key>sourceSize</key>
                <string>{308,153}</string>
            </dict>
            <key>penemy2-4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1259},{136,145}}</string>
                <key>offset</key>
                <string>{49,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,0},{136,145}}</string>
                <key>sourceSize</key>
                <string>{308,153}</string>
            </dict>
            <key>player1-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1176},{146,165}}</string>
                <key>offset</key>
                <string>{-46,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,22},{146,165}}</string>
                <key>sourceSize</key>
                <string>{316,223}</string>
            </dict>
            <key>player1-1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1225},{146,165}}</string>
                <key>offset</key>
                <string>{-46,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,22},{146,165}}</string>
                <key>sourceSize</key>
                <string>{316,223}</string>
            </dict>
            <key>player1-1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1176},{146,165}}</string>
                <key>offset</key>
                <string>{-46,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,22},{146,165}}</string>
                <key>sourceSize</key>
                <string>{316,223}</string>
            </dict>
            <key>player1-1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{138,161}}</string>
                <key>offset</key>
                <string>{-42,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,24},{138,161}}</string>
                <key>sourceSize</key>
                <string>{316,223}</string>
            </dict>
            <key>player1-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1298},{132,165}}</string>
                <key>offset</key>
                <string>{-38,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,20},{132,165}}</string>
                <key>sourceSize</key>
                <string>{316,223}</string>
            </dict>
            <key>player1-2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,926},{148,169}}</string>
                <key>offset</key>
                <string>{-45,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,18},{148,169}}</string>
                <key>sourceSize</key>
                <string>{316,223}</string>
            </dict>
            <key>player1-2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,926},{146,187}}</string>
                <key>offset</key>
                <string>{-46,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{146,187}}</string>
                <key>sourceSize</key>
                <string>{316,223}</string>
            </dict>
            <key>player1-2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1027},{196,201}}</string>
                <key>offset</key>
                <string>{-29,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,22},{196,201}}</string>
                <key>sourceSize</key>
                <string>{316,223}</string>
            </dict>
            <key>player1-3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1176},{146,165}}</string>
                <key>offset</key>
                <string>{-46,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,22},{146,165}}</string>
                <key>sourceSize</key>
                <string>{316,223}</string>
            </dict>
            <key>player1-3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1432},{156,161}}</string>
                <key>offset</key>
                <string>{-34,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,24},{156,161}}</string>
                <key>sourceSize</key>
                <string>{316,223}</string>
            </dict>
            <key>player1-3-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1007},{212,135}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,50},{212,135}}</string>
                <key>sourceSize</key>
                <string>{316,223}</string>
            </dict>
            <key>player1-3-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,811},{246,113}}</string>
                <key>offset</key>
                <string>{35,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,92},{246,113}}</string>
                <key>sourceSize</key>
                <string>{316,223}</string>
            </dict>
            <key>player1-4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,569},{154,171}}</string>
                <key>offset</key>
                <string>{-47,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,16},{154,171}}</string>
                <key>sourceSize</key>
                <string>{316,223}</string>
            </dict>
            <key>player1-4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1144},{152,165}}</string>
                <key>offset</key>
                <string>{-48,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,22},{152,165}}</string>
                <key>sourceSize</key>
                <string>{316,223}</string>
            </dict>
            <key>player1-5-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1074},{162,169}}</string>
                <key>offset</key>
                <string>{-42,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,17},{162,169}}</string>
                <key>sourceSize</key>
                <string>{316,223}</string>
            </dict>
            <key>player1-5-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,1097},{160,169}}</string>
                <key>offset</key>
                <string>{-41,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,18},{160,169}}</string>
                <key>sourceSize</key>
                <string>{316,223}</string>
            </dict>
            <key>player1-5-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1324},{162,159}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,28},{162,159}}</string>
                <key>sourceSize</key>
                <string>{316,223}</string>
            </dict>
            <key>player1-5-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,725},{170,159}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,28},{170,159}}</string>
                <key>sourceSize</key>
                <string>{316,223}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f6444afab05f331b3460e15d8b63425:28e2ca57f1e75eaabc7fc7a8c1c6dd4e:c7f724d6c30314d5f0ba98940d931d6f$</string>
            <key>textureFileName</key>
            <string>role.pvr.ccz</string>
        </dict>
    </dict>
</plist>
