<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alert-dialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{522,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,359}}</string>
                <key>sourceSize</key>
                <string>{522,359}</string>
            </dict>
            <key>boss-progress-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{149,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,27}}</string>
                <key>sourceSize</key>
                <string>{149,27}</string>
            </dict>
            <key>boss-progress-fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,427},{136,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,15}}</string>
                <key>sourceSize</key>
                <string>{136,15}</string>
            </dict>
            <key>continue-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,562},{101,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,97}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>continue-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,363},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{522,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,359}}</string>
                <key>sourceSize</key>
                <string>{522,359}</string>
            </dict>
            <key>golden.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,363},{62,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>home-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,766},{99,95}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{99,95}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>home-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,468},{103,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{103,97}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>pause-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,574},{522,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,338}}</string>
                <key>sourceSize</key>
                <string>{522,338}</string>
            </dict>
            <key>pause1.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,914},{81,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,78}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>pause2.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,914},{83,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,80}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>player-progress-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,887},{259,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,61}}</string>
                <key>sourceSize</key>
                <string>{259,61}</string>
            </dict>
            <key>player-progress-fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,950},{227,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,32}}</string>
                <key>sourceSize</key>
                <string>{227,32}</string>
            </dict>
            <key>retry-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,867},{95,93}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{95,93}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>retry-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,665},{99,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{99,97}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>skill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,914},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>skill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,914},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>small-enemy-progress-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,427},{119,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,21}}</string>
                <key>sourceSize</key>
                <string>{119,21}</string>
            </dict>
            <key>small-enemy-progress-fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,427},{109,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,12}}</string>
                <key>sourceSize</key>
                <string>{109,12}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,887},{107,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,96}}</string>
                <key>sourceSize</key>
                <string>{107,96}</string>
            </dict>
            <key>start1.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,2},{558,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{558,181}}</string>
                <key>sourceSize</key>
                <string>{570,185}</string>
            </dict>
            <key>start2.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{570,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,185}}</string>
                <key>sourceSize</key>
                <string>{570,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d2974e4412d3b1a784675f629663fe1:9dc879d99e98ac06280e5b5735f4f107:ce842559b5d294d5ed4628903bfc52df$</string>
            <key>textureFileName</key>
            <string>ui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
